/*小米商城样式*/
body {
    margin: 0;
    padding:0;
}
.web_all {
    background-color: dimgrey;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
}
a {
    text-decoration: none;
}
a:hover {color: lightseagreen}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li>a {
    padding: 0 15px;
    line-height: 40px;
}
/*导航条 开始*/
.navigation{
    height: 40px;
    width: 1226px;
    background-color: dimgrey;
    margin: 0 auto;
}
li>a {
    color: white;
}
.navigation_menu li, .navigation_login li{
    display: inline-block;
}
.navigation_login {
    float: right;
}
.navigation_menu li {
    float: left;
}

/*导航结束*/
/*新品选择项 开始*/
.new_product {
    width: 1226px;
    margin: 20px auto 0;
}
.logo {
    height: 50px;
    width: 234px;
    background-color: rgb(240,112,46);
    text-align: center;
    float: left;
}
.product_menu li {
     display: inline-block;
}
.search {
    float: right;
}
/*新品选项结束*/
/*左侧菜单栏*/
.choose_menu {
    width: 1226px;
    margin: 20px auto 0;
    display: block;
}
.choose {
    height: 460px;
    width: 234px;
    background-color: #b0b0b0;
}
.choose_background {
    height: 460px;
    width: 800px;
    background-color: bisque;
}
