<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看出版社表格</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>图书管理系统
            <small>具体操作表格</small>
        </h1>
    </div>
    {#增加出版社名称#}

    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading" style="text-align: center;font-size: 25px">表格内容</div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <button type="button" class="btn btn-success" style="color: white">
                             <a href="/add_publisher/">增加</a>
                        </button>

                    </div>

                    {#显示出版社表格#}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>id</th>
                            <th>出版社名称</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for publisher in publisher_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ publisher.id }}</td>
                                <td>{{ publisher.p_name }}</td>
                                <td>
                                    <button type="button" class="btn btn-link">
                                        <a href="/delete_publisher/?id={{ publisher.id }}">删除</a>
                                    </button>

                                    <button type="button" class="btn btn-default">
                                        <a href="/edit_publisher/?id={{ publisher.id }}">修改</a>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/jquery.js"></script>
<script src="/static/bootstrap-3.3.7/js/bootstrap.js"></script>
</body>
</html>