<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看出版社</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css">
    <style>
        body {
            padding-bottom: 50px;
        }


    </style>
</head>
<body>

<nav class="" style="background-color: darkcyan">
    <div class="container">
        <div class="container-fluid" id="d1">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="color: white">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {#                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>#}
                    <a class="navbar-brand" href="#" style="color: white">Brand</a>
                    <a class="navbar-brand" href="#" style="color: white">Brand</a>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <a class="navbar-brand" href="#" style="color: white">Brand</a>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>
</nav>


{#左侧栏#}

<div class="list-group col-sm-2" style="text-align: center">
    <a type="button" class="list-group-item" href="/publisher_list/">出版社表格</a>
    <a type="button" class="list-group-item" href="/book_list/">书籍表格</a>
    <a type="button" class="list-group-item" href="/author_list/">作者表格</a>

</div>


{#页头#}
<div class="container">
    <div class="page-header">
        <h1>Book management system
            <small>Table operation</small>
        </h1>
    </div>
    {#    表格#}
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading" style="text-align: center;font-size: 25px">表格操作</div>
            <div class="panel-body">
                <a href="/add_publisher/">增加出版社</a>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>id</th>
                        <th>出版社名称</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for publisher in publisher_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ publisher.id }}</td>
                            <td>{{ publisher.p_name }}</td>
                            <td>
                                <a type="button" class='btn btn-sm btn-danger' aria-label="Lefr Align" href="/delete_publisher/?id={{ publisher.id }}">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
                                </a>
                                <button type="button" class="btn btn-success edit_btn" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>编辑
                                </button>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

                {#                分页#}
                <nav aria-label="Page navigation" style="float: right">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>

<!--模态框-->
<div class="modal fade" tabindex="-1" role="dialog" id="ml">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">修改出版社</h4>
      </div>
      <div class="modal-body">
          <form>
              <div class="form-group">
                  <label for="publisher_name">出版社</label>
                  <input type="text" class="form-control" id="publisher_name" placeholder="publisher-name">
              </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="/static/jquery.js"></script>
<script src="/static/bootstrap-3.3.7/js/bootstrap.js"></script>
<script>
    // 找到页面上的所有的编辑按钮，绑定点击事件
    $('table').on('click','.edit_btn',function () {
         // 弹出模态框
        // 拿出要编辑的出版社的id
        var editId = $(this).parent().prev().prev().text();
        var Pname = $(this).parent().prev().text();
        // 其实可以直接把模态框里的id值.val(Pname)放进去，但是因为保存的时候需要往数据库提交，
        // 这时候没有id值是不能提交的，所以，需要在input标签设置一个自定义属性，按照id值去添加
        var $Input = $('#publisher_name');  // 一个对象
        // 给模态框的input标签加一个自定义属性。Publisher_id
        $Input.attr('publisher_id',editId);
        $Input.val(Pname);
        $('#ml').modal('show');
    });
    // 给模态框添加保存事件
    $('#save').click(function () {
        // 获取出版社的id值和新名称
        var $Input = $('#publisher_name');
        var Eid = $Input.attr('publisher_id');
        var NewName = $Input.val();
        // 发送ajax请求
        $.ajax({
            url:'/edit_publisher/',
            type:'post',
            data:{'id':Eid,'new_name':NewName},
            success:function (res) {
                // 成功之后跳转到下一个url
                console.log(res);
                if(res.code === 0){
                    location.href = res.next_url

                }
            }
        })
    })




</script>
</body>
</html>